body {
  background-image: url('ob.png.png');
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
  min-height: 100vh; 
}

.Courses {
text-align: center;
color: rgb(248, 255, 255);
background-color: rgb(108, 179, 251);
}

.Teachers {
text-align: center;


}

.HighSchool{;
  text-align: center;
}

.Senior {
text-align: center;
}
